body {
    font-family: 'Fira Sans', sans-serif;
    color: #444444;
    background-color: #F5F5F5;
    }

a{
    font-family: sans-serif;
    text-transform: none;
    text-decoration: none;
    font-weight: bold ;
    color: #1b1b1b;
}

label{
    font-family: sans-serif;
    color: #1b1b1b !important;
    font-weight: bold ;
    font-size: 15px;
}

.btn-login {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    display: inline-block;
    /* padding: 10px 28px 11px 28px; */
    border-radius: 13px;
    transition: 0.5s;
    /* margin: 10px 0 0 0; */
    color: white;
    background: #047857;
    border: 0px solid white;
}

.btn-login:hover{
    background: #05c891;
}

.belum{
    font-family: sans-serif;
    /* font-weight: bold; */
    font-size: 16px;
}