/**
* Template Name: Arsha
* Updated: Sep 18 2023 with Bootstrap v5.3.2
* Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: "Sofia Pro Regular";
  src: url("../font/@font-face/060e116a70e3096c52db16f61aaab194.eot");
  /* IE9*/
  src: url("../font/@font-face/060e116a70e3096c52db16f61aaab194.eot?#iefix") format("embedded-opentype"),
  /* IE6-IE8 */
  url("../font/@font-face/060e116a70e3096c52db16f61aaab194.woff2") format("woff2"),
  /* chrome、firefox */
  url("../font/@font-face/060e116a70e3096c52db16f61aaab194.woff") format("woff"),
  /* chrome、firefox */
  url("../font/@font-face/060e116a70e3096c52db16f61aaab194.ttf") format("truetype"),
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../font/@font-face/060e116a70e3096c52db16f61aaab194.svg#Sofia Pro Regular") format("svg");
  /* iOS 4.1- */
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: #444444;
  background-color: #fff;
}

a {
  color: #047857;
  text-decoration: none;
}

a:hover {
  color: #1b1b1b;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #047857;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #52C389;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #047857;
  width: 40px;
  height: 40px;
  border-radius: 13px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #1b1b1b;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  /* height: 100px; */
}

#header.header-scrolled,
#header.header-inner-pages {
  background: #D1FAE5;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 55px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  /* color: #fff; */
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #047857;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 13px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #047857;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #047857;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.about-link {
  margin-left: auto!important;;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #1b1b1b;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #1b1b1b;
}

.b-lr-m{
  display: none;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .spase-nav{
    margin-right: auto!important;
  }

  .b-lr{
    display: none;
  }

  .b-lr-m{
    display: inline;
  }

  #header .logo img {
    max-height: 45px;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #1b1b1b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #047857;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #047857;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
  visibility: visible !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: #D1FAE5;
  border-bottom-right-radius: 180px 150px;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  font-family: 'Fira Sans';
  margin: 0 0 0 0;
  font-size: 60px;
  font-weight: 700;
  /* font-style: bolder; */
  line-height: 68px;
  color: #047857;
}

#hero h2 {
  color: #1b1b1b;
  /* margin-bottom: 50px; */
  font-size: 15px;
}

#hero h3 {
  font-family: 'Fira Sans';
  color: #474747;
  font-weight: 400;
  /* margin-bottom: 50px; */
  font-size: 21px;
  line-height: 30px;
}

#hero .indoemas{
  font-family: 'Fira Sans';
  background-color: #E6DCCE;
  color: #927348;
  text-transform : uppercase;
  border-radius: 100px 100px;
  padding:10px;
  letter-spacing: 1px;
  font-size: 14px;
}

#hero .btn-get-started {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  /* text-transform: uppercase; */
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 13px;
  transition: 0.5s;
  /* margin: 10px 0 0 0; */
  color: #1b1b1b;
  background: white;
}


#hero .btn-lihat-produk {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  /* text-transform: uppercase; */
  text-align: center;
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 13px;
  transition: 0.5s;
  /* margin: 10px 0 0 0; */
  color: #fff;
  background: #047857;
  width: 100%;
}

#hero .btn-lihat-produk:hover {
  background: #05c891;

}


#hero .hero-img img{
  /* padding-top: 150px */
}

.btn-hubkami {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 13px;
  transition: 0.5s;
  /* margin: 10px 0 0 0; */
  color: #fff;
  background: #1b1b1b;
}

.btn-hubkami:hover {
  background: #fff;
  border: #1b1b1b 1px solid;
  color: #1b1b1b!important;
}

.btn-dapatkan {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 13px;
  transition: 0.5s;
  /* margin: 10px 0 0 0; */
  color: #fff;
  background: #1b1b1b;
  text-transform: uppercase;
}

.btn-dapatkan:hover{
  background: white;
  color: #1b1b1b;
  border: #1b1b1b 1px solid;
}

.btn-more {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 13px;
  transition: 0.5s;
  /* margin: 10px 0 0 0; */
  background: white;
  color: #1b1b1b;
  border: #1b1b1b 1px solid;
  text-transform: uppercase;
}

.btn-more:hover{
  color: #fff;
  background: #1b1b1b;
}

.btn-register {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  /*  */
  display: inline-block;
  /* padding: 10px 28px 11px 28px; */
  border-radius: 13px;
  transition: 0.5s;
  /* margin: 10px 0 0 0; */
  color: #fff;
  background: #047857;
}

.btn-register:hover{
  background: #05c891;
  color: white;
  /* border: #1b1b1b 1px solid; */
}

.btn-login {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  /* letter-spacing: 1px; */
  display: inline-block;
  /* padding: 10px 28px 11px 28px; */
  border-radius: 13px;
  transition: 0.5s;
  /* margin: 10px 0 0 0; */
  color: #1b1b1b;
}

.btn-login:hover{
  background: white;
  /* color: #fff; */
}



#hero .btn-get-started:hover {
  background: #d4d2d2;
  /* border: #1b1b1b 1px solid; */
  /* color: #1b1b1b; */
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #047857;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.bergabung {
  background-color: #065F46;
  padding: 12px 0;
  padding-top:70px;
  padding-bottom:50px;
  border-top-right-radius:80px;
  border-top-left-radius:80px;
}

.bergabung h2{
  color:white !important;
}
.bergabung p{
  color:white !important;
  font-size:24px;
}

.bergabung .btn-bergabung{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  /* text-transform: uppercase; */
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 13px;
  transition: 0.5s;
  /* margin: 10px 0 0 0; */
  color: #1b1b1b;
  background: white;
}

.bergabung .btn-bergabung:hover{

  color: #1b1b1b;
  background: #d7d7d7;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
    border-bottom-right-radius: 100px 100px;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
    /* padding-top: 100px */
  }
}


.moving-photos {
  display: flex;
  animation: slideLeft 15s linear infinite;
}

@keyframes slideLeft {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.moving-photo {
  width: 100%;
  height: auto;
  z-index: -99;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 50px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    margin-top: -50px;
    width: 100% !important;
    /* height: 50% !important; */
    /* padding-top: 200px */
  }

  .moving-photo {
    width: 50%;
    height: auto;
    z-index: -99;
  }

  .btn-dapatkan {
    font-family: 'Fira Sans', sans-serif;
    /* font-weight: 500; */
    font-size: 10px;
    /* letter-spacing: 1px; */
    display: inline-block;
    /* padding: 10px 28px 11px 28px; */
    border-radius: 13px;
    transition: 0.5s;
    /* margin: 10px 0 0 0; */
    color: #fff;
    background: #1b1b1b;
    text-transform: uppercase;
  }

  #hero .btn-get-started {
  width: 100%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }


  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-family: 'Fira Sans';
  font-size: 36px;
  font-weight: 700;
  /* text-transform: uppercase; */
  /* margin-bottom: 20px; */
  /* padding-bottom: 20px; */
  position: relative;
  color: #097B5B;
}

/* .section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
} */

/* .section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #047857;
  bottom: 0;
  left: calc(50% - 20px);
} */

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  background-color: #F5F5F5;
  padding: 12px 0;
  padding-top:50px;
  padding-bottom:50px;
  border-top-right-radius:80px;
  border-top-left-radius:80px;
  margin-top: -60px;
  margin-bottom: -60px;
}

.bg-client{
  background-color:#7C3AED;
}

.clients img {
  max-width: 75%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #047857;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #047857;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #047857;
}

.hp{
  font-size: 20px;
}

.fili{
  color: #047857;
}

.about .content .btn-learn-more:hover {
  background: #047857;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 60px 100px 0 100px;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #37517e;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 15px;
  color: #848484;
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.why-us .accordion-list {
  padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}

.why-us .accordion-list li+li {
  margin-top: 15px;
}

.why-us .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
}

.why-us .accordion-list span {
  color: #047857;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.why-us .accordion-list .icon-show {
  display: none;
}

.why-us .accordion-list a.collapsed {
  color: #343a40;
}

.why-us .accordion-list a.collapsed:hover {
  color: #047857;
}

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }

  .clients {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
  .bergabung {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #37517e;
  font-family: "Poppins", sans-serif;
}

.skills .content ul {
  list-style: none;
  padding: 0;
}

.skills .content ul li {
  padding-bottom: 10px;
}

.skills .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #047857;
}

.skills .content p:last-child {
  margin-bottom: 0;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #37517e;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e8edf5;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #4668a2;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  /* box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1); */
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  /* background: #fff; */
}

.services2 .icon-box {
  margin-top: 100px;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  /* padding-top: -500px; */
  background: #fff;
  border-radius:30px;
}

.services2{
  background-color:#7C3AED;
  border-top-right-radius: 80px 80px;
  border-top-left-radius: 80px 80px;
}

.services .icon-box .icon {
  margin-bottom: 30px;
  
}

.services2 .icon-box .icon img{
  margin-top:-100px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 5px;
  border-radius:50px;
}

.services .icon-box .icon i {
  color: #047857;
  font-size: 36px;
  transition: 0.3s;
  background-color: grey;
  border-radius:50px;
  padding: 5px;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.services2 .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #1b1b1b;
  transition: ease-in-out 0.3s;
}
.services2 .icon-box h4 a {
  color: #1b1b1b;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #1b1b1b;
}

.services2 .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #1b1b1b;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}
.services2 .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #047857;
}

.services h2{
  color: #047857;
  font-weight: 700;
}
.services2 h2{
  font-weight: 700;
  color: white;

}

.services p{
  color: #1b1b1b;
  font-size: 22px;
}

.services2 p{
  color: white;
  font-size: 22px;
}

.services h4{
  font-weight: 900;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 12px 40px;
  border-radius: 13px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #047857;
  border: 2px solid #047857;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 13px;
  font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #047857;
  color: #fff;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #047857;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #047857;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #047857;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  height: 100%;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #37517e;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.team .member .social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #047857;
}

.team .member .social a:hover i {
  color: #fff;
}

.team .member .social a+a {
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .row {
  padding-top: 40px;
}

.pricing .box {
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  background: #fff;
  height: 100%;
  border-top: 4px solid #fff;
  border-radius: 5px;
}

.pricing h3 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 20px;
  color: #37517e;
}

.pricing h4 {
  font-size: 48px;
  color: #37517e;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 25px;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: #047857;
  font-size: 18px;
  display: block;
}

.pricing ul {
  padding: 20px 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0 10px 30px;
  position: relative;
}

.pricing ul i {
  color: #28a745;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 6px;
}

.pricing ul .na {
  color: #ccc;
}

.pricing ul .na i {
  color: #ccc;
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .buy-btn {
  display: inline-block;
  padding: 12px 35px;
  border-radius: 13px;
  color: #047857;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  transition: 0.3s;
  border: 1px solid #047857;
}

.pricing .buy-btn:hover {
  background: #047857;
  color: #fff;
}

.pricing .featured {
  border-top-color: #047857;
}

.pricing .featured .buy-btn {
  background: #047857;
  color: #fff;
}

.pricing .featured .buy-btn:hover {
  background: #23a3df;
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: 'Fira Sans';
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 30px 0 0;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #1b1b1b;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #1b1b1b;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #047857;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid #047857;
  border-bottom: 3px solid #047857;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #047857;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #047857;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #047857;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #047857;
  border-bottom: 3px solid #047857;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #047857;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #047857;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 13px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #209dd8;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f3f5fa;
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }

  .services2{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: #37517e;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #F5F5F5;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #F5F5F5;
  text-align: center;
  font-size: 15px;
  color: #1b1b1b;
}

#footer .footer-newsletter h4 {
  font-family: 'Fira Sans';
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  /* color: #1b1b1b; */
}

#footer .footer-newsletter p{
  font-size: 16px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 13px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #047857;
  color: #fff;
  transition: 0.3s;
  border-radius: 13px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #209dd8;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  /* background: #2c2c2c; */
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Fira Sans', sans-serif;
  color: #1c1c1c;
}

#footer .footer-top h4 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  /* font-weight: bold; */
  color: #6a6868;
  position: relative;
  /* margin-bottom:-50px; */
  padding-bottom: 12px;
}

#footer .app1{
  margin-top:-70px;
  /* margin-bottom:-100px; */
}
#footer .app2{
  margin-top:-110px;
}

.fmob{
  display: none;
}

@media (max-width: 769px) {
  #footer .app1{
    margin-top:0;
    margin-left:50px;
    /* margin-bottom:-100px; */
  }
  #footer .app2{
    margin-top:0;
    margin-left:-280px;
  }

  .fweb{
    display: none;
  }

  .fmob{
    display: inline;
  }
}



#footer a{
  color: #1b1b1b;
}



/* #footer .footer-top .footer-links {
  margin-bottom: 30px;
} */

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links p {
  color: #1b1b1b;
  font-size: 17px;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #047857;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #1b1b1b;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-size: 17px;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #047857;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #047857;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  /* padding-top: 30px; */
  padding-bottom: 30px;
  color: #fff;
  line-height:50px
  /* border-top: 5px solid black; */
}

#footer .copyright {
  float: left;
  color: #1b1b1b;
  
}

#footer .credits {
  float: right;
  font-size: 30px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: right;
    float: left;
  }

  #footer .credits {
    padding-top: 4px;
  }
}

#footer .app h4{
  line-height:0;
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
    text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .carousel-control {
	height: 44px;
	width: 40px;
	background: #7ac400;	
    margin: auto 0;
    border-radius: 4px;
	opacity: 0.8;
}
.carousel .carousel-control:hover {
	background: #78bf00;
	opacity: 1;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
	text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel .carousel-control.left i {
	margin-left: -2px;
}
.carousel .carousel-control.right i {
	margin-right: -4px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
#get{
  background-color: #4C5643;
}

#get .section-title {
  color: white;
}

#get .section-title h2 {
  color: white;
}
#get .section-title p {
  color: white;
  font-size: 18px;
}
#faq .section-title p {
  margin-top: 25px;
  font-size: 19px;
}
.logo-footer{
  max-width:200px;
  /* height:27px; */
  margin-bottom: 20px;
}